{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="dark-theme-style" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SAATHI</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#Customer">Shopkeeper</a>
                    <a class="dropdown-item" href="#Customer">Customer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#Customer">RESOURCES</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Background image -->
<div
        class="p-5 text-center bg-image"
        style="
background-image: url('{% static 'img/r111.jpeg' %}');  background-size: 1920px 300px; background-repeat: no-repeat;
height: 400px;
"
>


</div>

<!-- Background image -->
</header>

<section id="Shopkeeper" class="container text-center my-5">
    <div class="row justify-content-around">
        <table class="table table-hover">

            <tbody>

            <form method="post" action="{% url 'updatestock' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text"  placeholder="Name of the item" name="itemname">
                </div>
                <div class="form-group">
                    <label >Quantity</label>
                    <input type="number"  placeholder="Enter the quantity" name="quantity">
                </div>
                <div class="form-group">
                    <label>Next stock</label>
                    <input type="text"  placeholder="Next stock details" name="stock">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </tbody>
        </table>
        </table>
        <br>
        <br>

    </div>
    </div>
    </div>
    </div>
    </div>


</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5>RAAHAT</h5>
                <p>Raahat is an enabling experience that supports vulnerable citizens during the covid pandemic by proving consumer friendly services both real time and field time through a solution which is easy and interactive.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3" id="XD">

                <!-- Links -->
                <h5 class="text-uppercase">Created By:</h5>

                <ul class="list-unstyled">
                    <li>
                        <a>Vidyarth S</a>
                    </li>
                    <li>
                        <a>Aman Ali Siddiqui</a>
                    </li>
                    <li>
                        <a>Khushboo Nijhavan</a>
                    </li>
                    <li>
                        <a>Akshatt Kain</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->



</footer>
<!-- Footer -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/indexxx.js' %}"></script>
</body>
</html>